<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CourseMapper">
    <insert id="insertCourse" useGeneratedKeys="true" keyProperty="c_id">
        INSERT INTO course (u_id,c_name,c_type,c_date,c_praise,c_operation,c_firstImage) VALUE (#{user.u_id},#{c_name},#{c_type},#{c_date},#{c_praise},#{c_operation},#{c_firstImage});
    </insert>
    <update id="updateCoursePraise">
      UPDATE course SET c_praise=c_praise+1 where c_id=#{c_id};
    </update>
    <select id="selectCourse" resultType="entities.Course">
        SELECT `user`.username,course.c_name,course.c_praise,course.c_operation,course.c_date  from course,user WHERE course.c_id=#{c_id} and course.u_id=`user`.u_id
    </select>
    <select id="selectAllCourse" resultType="entities.Course">
      SELECT c_type,c_firstImage,c_name from course WHERE c_type=#{c_type} limit #{calculationPageNumber},14;
    </select>
    <select id="selectPageCount" resultType="java.lang.Integer">
        SELECT  count(*) FROM course  WHERE c_type=#{c_type};
    </select>

</mapper>