<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CourseMapper">
    <insert id="insertCourse" useGeneratedKeys="true" keyProperty="c_id">
        INSERT INTO course (u_id,c_name,c_type,c_date,c_praise,c_operation,c_firstImage) VALUE (#{user.u_id},#{c_name},#{c_type},#{c_date},#{c_praise},#{c_operation},#{c_firstImage});
    </insert>
    <!-- 修改点赞-->
    <update id="updateCoursePraise">
      UPDATE course SET c_praise=c_praise+1 where c_id=#{c_id};
    </update>
    <!--查询点赞表是否存在该用户点赞-->
    <select id="selectPraise" resultType="entities.Praise">
        SELECT u_id,c_id from praise WHERE  u_id=#{u_id} and c_id=#{c_id};
    </select>
    <insert id="insertPraise">
        INSERT  INTO praise (u_id, c_id) VALUE (#{u_id},#{c_id});
    </insert>
    <select id="selectAllCourse" resultType="entities.Course">
      SELECT c_id,c_type,c_firstImage,c_name from course WHERE c_type=#{c_type} limit #{calculationPageNumber},16;
    </select>
    <select id="selectPageCount" resultType="java.lang.Integer">
        SELECT  count(*) FROM course  WHERE c_type=#{c_type};
    </select>
    <select id="selectNewCate" resultType="entities.Course">
        SELECT c_id,c_name,c_type,c_date FROM course ORDER BY c_date DESC LIMIT 0,25
    </select>
    <select id="selectIndexNewCate" resultType="entities.Course">
        SELECT c_id,c_name,c_type,c_firstImage FROM course ORDER BY c_date DESC LIMIT 0,6
    </select>
    <select id="selectIndexchoiceCourse" resultType="entities.Course">
        SELECT c_id,c_name,c_firstImage FROM course ORDER BY c_praise DESC LIMIT 0,12
    </select>
    <select id="selectChoiceCourse" resultType="entities.Course">
        SELECT c_id,c_praise,c_firstImage,c_name from course order by  c_praise desc  limit #{calculationPageNumber},32;
    </select>
    <select id="selectChoicePageCount" resultType="java.lang.Integer">
        SELECT  count(*) FROM course ;
    </select>
    <select id="fuzzySearch" resultType="entities.Course">
        select c_id,c_name,c_firstImage,c_type from course
        <where>
            <if test="c_name!=null and c_name!=''">
                c_name LIKE '%${c_name}%'
            </if>
        </where>
        LIMIT  #{calculationPageNumber},6
    </select>
    <select id="fuzzySearchCount" resultType="java.lang.Integer">
        SELECT count(*) FROM course where   c_name LIKE '%${c_name}%'
    </select>
   <!-- 映射关系（相同字段不配置）-->
    <resultMap id="courseResultMap"  type="entities.Course">
        <id property="c_id" column="c_id"/>
        <association property="user" column="u_id" select="mapper.UserMapper.selectUserById"/>
        <collection property="comments" column="c_id" select="mapper.CommentMapper.selectByCid"/>
    </resultMap>
    <select id="selectCourseAndComment" resultMap="courseResultMap">
        SELECT * from course WHERE c_id=#{c_id}
    </select>
</mapper>