<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.UserMapper">
    <insert id="insertUser">
        INSERT  INTO  user(username, password, repassword) VALUE (#{username},#{password},#{repassword});
    </insert>
    <select id="selectUser" resultType="entities.User">
        SELECT * from user WHERE username=#{username} and password=#{password};
    </select>
    <!--根据u_id查询-->
    <select id="selectUserById" resultType="entities.User">
        SELECT * from user WHERE u_id=#{value}
    </select>
</mapper>