#all_content{
    background-color: #EEEEEE;
    padding-top: 30px;
    padding-bottom: 30px;
}
.content{
    height: 1100px;
    width: 1060px;
    margin: auto;

}
.content_top{
    display: block;
    margin-left: 145px;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: "Times New Roman", Times, serif;
}
.content_left{
    height:950px;
    float: left;
    width: 640px;
    background-color: white;
}
.content_left_top{
    width: 590px;
    height: 130px;

}
.content_left_top p{
    margin-top: -38px;
    display: inline-block;
    font-size: 15px;

}
.content_left_top p>span{
    font-size: 13px;
    color: #999999;
}
.content_left hr{
    width: 58px;
    margin-top: -15px;
    margin: auto;

}
.content_left_content li{
    width: 660px;
    height: 110px;
    margin-top: 10px;
   list-style: none;
}
.content_left_content img{
    margin-left: 25px;
    width: 140px;
    height: 100px;
}
.content_left_content span{
    color: #999999;
    display: block;
    margin-top: -90px;
    margin-left: 180px;
  font-size: 18px;

}
.content_left_content div{
    color: #999999;
    margin-left: 180px;
    margin-top: 15px;
}
.content_left_content div a{
    color: #999999;
}
.page{
    display: block;
    margin-top: -50px!important;
    width: 320px;
    margin-left: 300px!important;
}
.current{
    color: #00CC00;
}

.search{
    width: 500px!important;
    height: 45px!important;
}
.button{
    width: 50px!important;
    height: 45px!important;
}
.content_left_top p{
  padding-top: 50px;
    margin-left: 30px;

}
.content_right{
    height: 1100px;
    float: right;
    width: 400px;
    background-color: white;
}
.content_right h4{
    margin-top: 20px;
    margin-left: 20px;
}
.content_right ul{
    margin-left: 14px;
}
.content_right li{
    margin: 3px;
    padding: 0px 10px 10px 5px;
    float: left;
    width: 182px;
    list-style: none;
}

.content_right span{
/*超出部分隐藏(overflow:hidden;)、强制在同一行显示(white-space: nowrap;)、省略号(text-overflow:ellipsis;)*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    display:block ;
   padding-top: 8px;
    color: #666666;
}