#all_content{
    background-color:#EEEEEE;
    padding-top: 20px;
    padding-bottom: 30px;
}
#all_content .h4{
    font-family: "Times New Roman", Times, serif;
    width: 100px;
    margin-left: 190px;
}
.content{
    height: 900px;
    width: 1010px;
    margin: auto;
    background-color: white;
}
.new_recipes_list li{
    width: 240px;
    height: 220px;
    float: left;
    margin: 5px 0px 0  10px;
    padding: 10px;
    list-style: none;
}
.new_recipes_list img{
    border-radius: 5px;
}
.new_recipes_list .img:hover{
    animation:menuImg 1s;
    height: 170px;
    width:215px;
  /*  animation-fill-mode规定对象动画时间之外的状态。forwards当动画完成后，保持最后一个属性值（在最后一个关键帧中定义）。*/
    animation-fill-mode: forwards;
}
@keyframes menuImg
{
    from {transform:scale(1.0,1.0);;}
    to {transform:scale(1.04,1.04);}
}
.new_recipes_list li a{
    color: #666666;
}
.new_recipes_list a:hover{
    color: #FFB452;
}
.new_recipes_list p{
    margin-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.pagination{
    margin-left: 570px;
}

.current{
    color: #00CC00;
}