#all_content{
    background-color: #EEEEEE;
    padding-top: 40px;
    padding-bottom: 30px;
}
.content_top{
    display: block;
    margin-left: 125px;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: "Times New Roman", Times, serif;
}
.content{
    width: 1100px;
    height: 600px;
    margin: auto;
}
.content_left{
    width: 700px;
    height: 600px;
    float: left;
    background-color: white;
}
.content_left_top{
    margin-top: 20px;
    margin-left: 20px;
}
.content_left_content{
   padding: 0px 0 0 5px ;
    width: 670px;
    margin: auto;
    border-bottom: solid 1px #EEEEEE;
    font-size: 15px;
    color: #666666;
    height: 40px;
}
.content_left_content div{
   padding: 10px 10px 10px 0px;
}
.content_left_content span{
    margin-left: 230px;
}
.content_right{
    width: 370px;
    height: 600px;
    float: right;
    background-color: white;
}