#all_content{
    background-color: #EEEEEE;
    padding-top: 40px;
    padding-bottom: 40px;

}
.content{
    margin: auto;
    overflow: hidden;
    width: 1030px;

}
.content_left{
    float: left;
    background-color: white;
    width: 620px;

}
.content_left_top h3{
    text-align: center;
}
.content_left_top p{
    text-align: center;
}
.content_left .middle_part img{
    margin: auto auto 50px auto;
    display: block;
}
content_left_top p>a{
    color: #0f0f0f;
}
.middle_part{
    padding: 0 20px 0 20px;
}
.list-right-recipe li{
    list-style: none;
}
.textarea{
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    width: 600px;
    height: 120px;
    border: medium none;
    resize: none;
    background-color: #F2F2F2;
}
.comment{
    width: 60px;
    height: 30px;
    margin-left: 550px!important;
    margin-top: 5px;
}
.comment-title{
    border-left: 4px solid #00CC00;
    color: #333;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
    text-indent: 10px;
}
.all-discussion{
    margin-left: 60px;
}
.u_name {
    color: #00CC00;
    font-size: 14px;
    margin-right: 8px;
}
.time {
    color: #aaa;
}
.praise{
    margin-left: 560px;
    margin-bottom: 10px;
}
#praise{
    display: inline;
    margin-left: -5px!important;
}
.content {
    margin-top: 10px;
    margin-bottom: 20px;
}
.content_right{
    width: 370px;
    height: 1070px;
    float: right;
    background-color: white;
}
.content_right h4{
    margin-top: 20px;
    margin-left: 20px;
}
.content_right ul{
    margin-left: 14px;
}
.content_right li{
    width: 160px;
    margin: 3px;
    padding: 0px 10px 10px 5px;
    float: left;
    list-style: none;
}

.content_right span{
    /*超出部分隐藏(overflow:hidden;)、强制在同一行显示(white-space: nowrap;)、省略号(text-overflow:ellipsis;)*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    display:block ;
    padding-top: 8px;
    color: #666666;
}
