#all_content{
    background-color: #EEEEEE;
    padding-top: 40px;
    padding-bottom: 40px;

}
.content{
    margin: auto;
    overflow: hidden;
    width: 1100px;

}
.content_left{
    float: left;
    background-color: white;
    width: 620px;

}
.content_left_top h3{
    text-align: center;
}
.content_left_top p{
    text-align: center;
}
.content_left .middle_part img{
    margin: auto auto 50px auto;
    display: block;
}
content_left_top p>a{
    color: #0f0f0f;
}
.middle_part{
    padding: 0 20px 0 20px;
}
.list-right-recipe li{
    list-style: none;
}
.content_right{
    float: right;
    background-color: white;
    width: 420px;
}
.content_right h4{
    margin-left: 10px;
}
.textarea{
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    width: 600px;
    height: 120px;
    border: medium none;
    resize: none;
    background-color: #F2F2F2;
}
.comment{
    width: 60px;
    height: 30px;
    margin-left: 550px!important;
    margin-top: 5px;
}
.comment-title{
    border-left: 4px solid #00CC00;
    color: #333;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 10px;
    text-indent: 10px;
}
.user_info{
    margin-left: 60px;
}
.u_name {
    color: #00CC00;
    font-size: 14px;
    margin-right: 20px;
}
.time {
    color: #aaa;
}
.praise{
    margin-left: 534px;
    margin-bottom: 10px;
}
.content {
    margin-top: 10px;
    margin-bottom: 20px;
}